body, div, p, table, tr, td, th, tbody, tfoot, ul, li, ol, dl, dd, dt, fieldset, blockquote, cite, input, select, textarea, button, a, section, article, aside, header, footer, nav, span {
    font-family: 'Raleway', Aria, sans-serif;
    font-size: 16px;
    color: #565656;
    font-weight: 300;
    line-height: 1.75em;
    -webkit-font-smoothing: antialiased !important;
}
h1, h1 span, h2, h3, h4, h5, h6, h6 a, .styled div span, .join, .btn, .phone {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
}
.offer h1.small span{
    font-family: 'Oswald', Arial, sans-serif;
}
h1 {
    font-size: 5em;
    font-weight: 400;
    margin: 0;
    line-height: 0.85em;
    text-transform: uppercase;
}
h1 span, h2 span {
    font-family: 'Raleway', Aria, sans-serif;
    font-size: 5em;
    font-weight: bold;
}
h2 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.50em;
    margin: 0 0 0.35em;
    text-align: center;
    text-transform: uppercase;
}
h2 span {
    font-size: 1em;
}
h3 {
    font-size: 2.85em;
    font-weight: 300;
    margin-top:0;
    margin-bottom: 0.35em;
    text-transform: capitalize;
}
h4 {
    font-size: 1.50em;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 0.5em;
}
h5 {
    font-size: 1.35em;
    font-weight: 300;
    margin: 0.3em 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}

h6 {
    font-size: 1.5em;
    font-weight: 300;
}
h6 a{
    font-weight: inherit;
    font-size: inherit;
    line-height: 25px;
}

a, .price span, h1 span, .subscribe input[type=submit], i.prime, ul li:before, .offer h1, .tab-content h3 i, h1 span, h2 span, #upcoming .item .info i, 
.standard-menu.visible .navbar-default .navbar-nav > li > a i, .standard-menu.visible .navbar-default .navbar-nav > li > a span, .standard-menu.visible .navbar-nav li .sub-nav li a i {
    color: #bd2871;
}
.prime .dblBorder:hover, .prime .dblBorder:hover .dblBorderChild {
    border: #bd2871 1px solid;
}
#subscribeForm input[type="email"] {
    border-color: rgba(189, 40, 112, 0.8);
}
/* == Background PRIMARY == */
#slides h3, .btn-primary, .BGprime, h3 span, .option li:hover, .btn-primary, .btn-dark:hover, a.top, .sqaureIconPrime, .owl-theme .owl-controls .owl-buttons div, #upcoming .item:hover, .standard-menu.BGlight .navbar-default .navbar-nav > li:hover, .navbar-nav li .sub-nav li:hover > a, .rightnav, .eventData .btn:hover, #contact_form input[type="submit"]:hover, .subscribe input[type=submit] {
    background-color: #bd2871;
}
/* == use rgba values here == */
.contactForm .form-control:focus, .sqaureIconPrime, .subscribe input[type=submit] {
    -webkit-box-shadow: 0 0 0 0.26em rgba(189, 40, 112, 0.5);
    -moz-box-shadow: 0 0 0 0.26em rgba(189, 40, 112, 0.5);
    box-shadow: 0 0 0 0.26em rgba(189, 40, 112, 0.5);
}
.BGprime.opaque {
    background-color: rgba(189, 40, 112, 0.8);
}
/* ======================= */
/* ======= SECONDARY ======= */
/* ======================= */
#celebs .item i, .main-menu li:hover > a i, .main-menu li:hover > a span, #venue strong, #venue label {
    color: #ff9000;
}
.secondary .dblBorder:hover, .secondary .dblBorder:hover .dblBorderChild {
    border: #ff9000 1px solid;
}
#slides .slide .slide-caption .container span, .pricing .package .inner, .pricing hr, #testimonial-slider span, #subscribeForm input[type="text"] {
    border-color: #ff9000;
}
/* == Background SECONDARY == */
.navbar-default, .BGsecondary, .option li, .btn-default, #testimonial-slider .carousel-indicators li.active, .galleryImg > a span, .sqaureIconSec, .owl-theme .owl-controls .owl-page span, .tabs-left li.active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .pricing .package:hover, #upcoming .item .img, #testimonial-slider .carousel-indicators li, #slides, #venue .btn:hover, .featureBox:hover .sqaureIconPrime {
    background-color: #ff9000;
}
/* == use rgba values here == */
.BGsblue.opaqueBG, .member .info {
    background-color: rgba(255, 144, 0, 0.8);
}
.highlight-overlay.light-overlay:after,
.features .boxBg {
    background-color: rgba(255, 144, 0, 0.3);
}
.sqaureIconSec, .featureBox:hover .sqaureIconPrime {
    -webkit-box-shadow: 0 0 0 0.26em rgba(255, 144, 0, 0.5);
    -moz-box-shadow: 0 0 0 0.26em rgba(255, 144, 0, 0.5);
    box-shadow: 0 0 0 0.26em rgba(255, 144, 0, 0.5);
}
/* ======================= */
/* ====== LIGHT ======= */
/* ======================= */
/* == Background LIGHT == */
.BGlight, .services, #upcoming .item, .standard-menu.BGlight.visible {
    background-color: #f8f8f8;
}
/* ======================= */
/* =====  DARK GREY  ===== */
/* ======================= */
h1, h2, h3, h4, h5, h6, h6 a, .phone small, .offer h1 span, .standard-menu.BGlight.visible .navbar-default .navbar-nav > li > a, .features p {
    color: #273034;
}

/**
 * 14.2 Galleries
 */

.gallery {
    margin-bottom: 30px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.gallery-item {
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 0;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
    width: 100%;
    border: none !important;
}
.gallery-caption {
    display: block;
    padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}
/**
 * 8.0 Alignments
 */

.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}
blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}
blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}

img{
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
:focus, :active {
    outline: none !important;
}
p {
    margin: 0.3em 0 1.5em;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="datetime"], .form-control {
    display: block;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    height: 4.35em;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
}
textarea {
    min-height: 8em;
    max-height: 12em;
    min-width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus, input[type="number"]:focus, input[type="datetime"]:focus, .form-control:focus {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.clearfix {
    clear: both;
}
img.pull-right {
    margin: 0px 0px 1.5em 1.5em;
    border-radius: 0 !important;
}
img.pull-left {
    margin: 0px 1.5em 1.5em 0px;
    border-radius: 0 !important;
}
i {
    margin-right: 0.3em;
}
.btn i {
    line-height: 1em;
    /*vertical-align: middle;*/
}
.btn {
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    color: white !important;
    text-align: center;
    padding: 0.35em 0.85em 0.28em;
    font-size: 1.35em;
}
.btn-sm {
    font-size: 1em;
    padding: 0.35em 0.85em;
}
.btn-lg {
    font-size: 1.5em;
    padding: 0.5em 1.25em;
}
blockquote {
    font-size: 1.1em;
}
.tooltip {
    white-space: nowrap;
    top: -3em;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 1.5em 0;
}
ul li{
    padding: 0.5em 0 0.5em 2em;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
ul li:hover{
    background-color: #fff;
    padding-left: 2.5em;
}
ul li:first-child {
    border: none;
}
ul li:before{
    content: "\f054";
    font-family: FontAwesome;
    font-size: 0.7em;
    position: absolute;
    left: 0;
    top: 0.8em;
}
ul li:hover:before{
    left: 1em;
}