/*
Theme Name: Latte
Theme URI: http://www.hardeepasrani.com/portfolio/latte/
Author: Hardeep Asrani
Author URI: http://www.hardeepasrani.com
Description: Latte is a one-page parallax WordPress theme for developers, designers & freelancers, to showcase their profile. It comes with many options, including services section, and more. Plus, it’s easy to customize! You don’t need a page builder or a drag & drop editor. Every thing can be customized straight from the WordPress Customizer.
Version: 2.1
License: GNU General Public License version 2 or later
License URI: license.txt
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, full-width-template, post-formats, sticky-post, theme-options, threaded-comments, translation-ready, blog, entertainment, photography, portfolio
Text Domain: latte

Latte WordPress Theme, Copyright (C) 2016, Hardeep Asrani
Latte is distributed under the terms of the GNU GPL
*/

/*
 * Base structure
 */
html,
body {
	margin:0;
	padding:0;
}
body {
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
embed,
iframe,
img,
object,
video,button,
input,
select,
textarea,
.wp-caption {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 4rem;
	width: 100%;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
a:hover {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
a.checkout-button.button.alt.wc-forward {
	background: #181616;
	border-color: #181616;
	color: #FFF;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 6px;
	display: inline-block;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	border: 1px solid transparent;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
a.checkout-button.button.alt.wc-forward:hover {
	background: #222;
}
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

/*
 * PRE LOADER
 */

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}
.status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url('assets/images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

/*
 * Custom CSS
 */

.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}
.row {
	margin: 0 auto;
}
.lead {
	font-family: 'Sanchez', sans-serif;
}

/*
 * WordPress
 */
 
.alignleft .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}
.alignright .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
}
article.sticky h2:before {
content: "Featured: ";
}
img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 2.4rem;
}
img.alignnone {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}
.alignleft {
	float: left;
	text-align: left;
}
.alignright {
	float: right;
	text-align: right;
}
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
	margin: 0 2.4rem 2.4rem 0;
}
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
	margin: 0 0 2.4rem 2.4rem;
}
.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}
.gallery-caption {
}
.screen-reader-text {
}
.screen-reader-textslider {
}
.bypostauthor {
}
.widget_calendar table {
	width: 100%;
}
.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/*
 * Section 1 - Intro
 */

.intro {
	background: rgba(0, 0, 0, 0.7);
	height: 258px;
	vertical-align: top;
	color: #FFF
}
.intro .cover-container {
	margin-right: auto;
	margin-left: auto;
	padding: 10px 0;
	text-align: center;
}
.intro .inner {
	padding: 30px;
}
.intro .cover {
	padding: 0 20px;
}
.intro .cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}
.intro div.avatar {
	width: 260px;
	height: 260px;
	background-size: cover;
	border-radius: 100%;
	margin: 0 auto;
	box-shadow: 0px 0px 0px 0px rgba(200, 95, 66, 0.4) inset, 0px 0px 0px 16px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.intro .cover-heading {
	font-family: 'Sanchez', sans-serif;
	font-size: 5px;
	word-break: keep-all;
}
.intro .arrow .fa {
	font-size: 50px;
	color: #FFF;
}
.intro .customizer-hidden {
	display: none;
}

/*
 * Section 2 - About
 */
.about {
	width: 100%;
	background: #F5F5F5;
}
.about .row {
	padding: 50px 75px;
}
.about .about-header {
	padding-bottom: 50px;
	text-align: center;
}
.about .about-header h2 {
	font-size: 40px;
	font-family: "Sanchez",sans-serif;
	font-weight: bold;
	word-break: keep-all;
}
.about .about-header h3 {
	color: #9F8E8E;
	font-size: 15px;
	margin-top: 0;
}
.about .lead {
	margin-top: 20px;
}
.about .customizer-hidden {
	display: none;
}

/*
 * Section 3 - Social
 */
.social {
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;
}
.social .row {
	padding: 50px;
	text-align: center;
}
.social .social-header {
	padding-bottom: 20px;
	text-align: center;
}
.social h2 {
	font-size: 40px;
	font-family: "Sanchez",sans-serif;
	font-weight: bold;
	word-break: keep-all;
}
.social .row .social-box {
	float: none;
	display: inline-block;
	margin: 30px 0;
}
.social .row .social-box .it-first .icon:hover {
	background: #3B5998;
}
.social .row .social-box .it-second .icon:hover {
	background: #0084B4;
}
.social .row .social-box .it-third .icon:hover {
	background: #D34836;
}
.social .row .social-box .it-fourth .icon:hover {
	background: #3F729B;
}
.social .row .social-box .it-fifth .icon:hover {
	background: #000;
}
.social .row .social-box.customizer-hidden {
	display: none;
}
.icon-item .icon {
	width: 90px;
	height: 90px;
	border-radius: 45px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px !important;
	color: #FFF;
	border: 4px solid #FFF;
}
.icon-item .icon a {
	color: #FFF;
}
.icon-item .icon i {
	font-size: 50px;
	line-height: 1.7;
}
.icon-item .icon a i::before {
	content: '\f0c1';
}
.icon-item .icon a[href*="facebook.com"] i::before {
	content: '\f09a';
}
.icon-item .icon a[href*="twitter.com"] i::before {
	content: '\f099';
}
.icon-item .icon a[href*="plus.google.com"] i::before {
	content: '\f0d5';
}
.icon-item .icon a[href*="instagram.com"] i::before {
	content: '\f16d';
}
.icon-item .icon a[href*="github.com"] i::before {
	content: '\f09b';
}
.icon-item .icon a[href*="dribbble.com"] i::before {
	content: '\f17d';
}
.icon-item .icon a[href*="pinterest.com"] i::before {
	content: '\f0d2';
}
.icon-item .icon a[href*="youtube.com"] i::before {
	content: '\f167';
}
.icon-item .icon a[href*="flickr.com"] i::before {
	content: '\f16e';
}
.icon-item .icon a[href*="vimeo.com"] i::before {
	content: '\f194';
}
.icon-item .icon a[href*="linkedin.com"] i::before {
	content: '\f0e1';
}
.icon-item .icon a[href*="foursquare.com"] i::before {
	content: '\f180';
}
.icon-item .icon a[href*="tumblr.com"] i::before {
	content: '\f173';
}
.icon-item .icon a[href*="twitch.tv"] i::before {
	content: '\f1e8';
}
.icon-item .icon a[href*="snapchat.com"] i::before {
	content: '\f2ac';
}
.icon-item .icon a[href*="vine.co"] i::before {
	content: '\f1ca';
}
.icon-item .icon a[href*="reddit.com"] i::before {
	content: '\f281';
}
.icon-item .icon a[href*="medium.com"] i::before {
	content: '\f23a';
}
.icon-item .icon a[href*="wordpress.com"] i::before,
.icon-item .icon a[href*="wordpress.org"] i::before {
	content: '\f19a';
}
.icon-item .icon a[href*="xing.com"] i::before {
	content: '\f168';
}
.icon-item .icon a[href*="behance.com"] i::before {
	content: '\f1b4';
}
.icon-item .icon a[href*="bitbucket.org"] i::before {
	content: '\f171';
}
.icon-item .icon a[href^="skype:"] i::before {
	content: '\f17e';
}
.icon-item .icon a[href^="mailto:"] i::before {
	content: '\f0e0';
}
.icon-item .icon a[href^="tel:"] i::before {
	content: '\f095';
}

/*
 * Section 4 - Services
 */
.services {
	width: 100%;
	background: #F5F5F5;
}
.services  .row {
	padding: 50px;
}
.services .services-header {
	text-align: center;
}
.services h2 {
	text-align: center;
	font-size: 40px;
	font-family: "Sanchez",sans-serif;
	font-weight: bold;
	word-break: keep-all;
}
.services h3 {
	color: #9F8E8E;
	font-size: 15px;
	margin-top: 0;
}
.services .service-box {
	padding: 25px;	
	word-break: keep-all;
}
.services .service-item {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.176);
}
.services .service-icon {
	background: #FFF none repeat scroll 0% 0%;
	padding: 20px 10px;
}
.services .service-icon .fa {
	font-size: 58px;
	color: #5E5E5E;
}
.services .service-icon a:hover{
	text-decoration: none;
}
.services .service-icon h3 {
	font-size: 24px;
	margin: 10px;
}
.services .service-box p {
	background-color: #E0E0E0;
	font-size: 15px;
	color: #777;
	padding: 20px;
	margin: 0px;
	word-break: keep-all;
}

/*
 * Section 5 - Subscribe
 */
.subscribe {
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #000;
}
.subscribe .row {
	padding: 50px;
	text-align: center;
}
.subscribe .subscribe-header {
	text-align: center;
	margin-bottom: 50px;
}
.subscribe h2 {
	font-size: 40px;
	font-family: "Sanchez",sans-serif;
	font-weight: bold;
	color: #FFF;
	word-break: keep-all;
}
.subscribe h3 {
	color: #FFF;
	font-size: 15px;
	margin-top: 0;
}
.subscribe .sendinbluetitle {
	color: #FFF;
}
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] p {
	background: transparent !important;
	display: inline;
}
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] label {
	background: transparent !important;
}
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] .sib-alert-message {
	margin: 10px 0 !important;
}
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] .sib-email-area,
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] .sib-NAME-area,
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] .sib-SURNAME-area,
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] .sib-SMS-area {
	padding: 10px 16px !important;
	margin: 5px 0px !important;
	border-radius: 0 !important;
	display: inline-block;
	max-width: 300px;
	height: 40px;
}
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] .sib-default-btn {
	padding: 10px 16px !important;
	margin: 5px 0px !important;
	border-radius: 0 !important;
	display: inline-block;
	font-size: 15px;
	white-space: normal;
}
.subscribe .sib_signup_form [class*="sib_signup_box_inside"] .sib-default-btn:hover {
	background: #222;
	border-color: #222;
}

/*
 * Section 6 - Skills
 */
.skills {
	width: 100%;
	background: #F5F5F5;
}
.skills  .row {
	padding: 50px;
}
.skills .skills-header {
	text-align: center;
	margin-bottom: 50px;
}
.skills h2 {
	font-size: 40px;
	font-family: "Sanchez",sans-serif;
	font-weight: bold;
	word-break: keep-all;
}
.skills h3 {
	color: #9F8E8E;
	font-size: 15px;
	margin-top: 0;
}
.skills .skill-box {
	padding: 0 25px;
}
.skills .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#CFCFCF;
	height:40px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}
.skills .skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skills .skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:40px;
	line-height:40px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skills .skillbar-bar {
	height:40px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.skills .skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:40px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/*
 * Section 7 - Blog
 */
.blogposts {
	width: 100%;
	background: #F5F5F5;
}
.blogposts .row {
	padding: 50px;
}
.blogposts .blog-header {
	text-align: center;
	margin-bottom: 50px;
}
.blogposts h2 {
	font-size: 40px;
	font-family: "Sanchez",sans-serif;
	font-weight: bold;
	word-break: keep-all;
}
.blogposts h3 {
	color: #9F8E8E;
	font-size: 20px;
	margin-top: 0;
}
.blogposts .blog-item {
	padding: 0 25px;
	overflow: hidden;
	margin-bottom: 10px;
}
.blogposts .blog-item .item {
	background: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	margin-top: 0;
	padding: 0;
}
.blogposts .blog-item .item .item-featured-image img{
	width: 100%;
	max-height: 339px;
}
.blogposts .blog-item .item-meta .post-title a {
	font-size: 20px;
}
.blogposts .blog-item .item-meta {
	padding: 20px;
}
.blogposts .blog-item .item-meta p {
	font-size: 14px;
}

/*
 * Footer
 */
.footer {
	width: 100%;
	background: #272727;
	color: #FFF;
}
.footer a {
	color: #FFF;
}
.footer .row {
	padding: 20px;
	text-align: center;
}

/*
 * Blog Header
 */

.custom-header {
  display: none;
}

.home .custom-header {
  display: inherit;
}

.archive-header {
	vertical-align: top;
	color: #FFF;
	padding: 0px 0;
}
.archive-header .cover-container {
	margin-right: auto;
	margin-left: auto;
	padding: 0px 0;
	text-align: center;
}
.archive-header .inner {
	padding: 0px;
}
.archive-header .cover {
	padding: 0 0px;
}
.archive-header .cover-heading {
	font-family: 'Sanchez', sans-serif;
	font-size: 0px;
}
.archive-header .cover-heading a {
	color: #FFF;
}
.post-header {
	background: transparent url('assets/images/blog.jpg') repeat scroll center center / cover;
	vertical-align: top;
	color: #FFF;
	padding: 0px 0;
}
.post-header .cover-container {
	margin-right: auto;
	margin-left: auto;
	padding: 0px 0;
}
.post-header .inner {
	padding: 0px;
}
.post-header .cover {
	padding: 0 0px;
}
.post-header .cover-heading {
	font-family: 'Sanchez', sans-serif;
	font-size: 0px;
}
.post-header .cover-heading a {
	color: #FFF;
}
.post-header .back {
	font-size: 0px;
	color: #FFF;
}
.container .item {
	margin-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #EEE;
	word-wrap: break-word;
}
.container .item  a {
	color: #404040;
}
.container .item .post-thumbnail {
	text-align: center;
}
.container .item .post-content a,
.container .item .post-subtitle a {
	color: #0085A1;
}
.container .item  a:hover,
.container .item  a:focus {
	text-decoration: none;
	color: #0085a1;
}
.container .item .post-title {
	font-size: 0px;
	font-weight: 800;
	margin-bottom: 0px;
}
.container .item a .post-subtitle {
	margin: 0;
	font-weight: 300;
	margin-bottom: 0px;
}
.container .item .post-meta {
	color: #808080;
	font-size: 0px;
	font-style: italic;
	margin-top: 0;
}
.container .item .content .post-meta {
	margin-top: 0px;
}
.container .item  .post-meta a {
	text-decoration: none;
	color: #404040;
}
.container .item  .post-meta a:hover,
.container .item  .post-meta a:focus {
	color: #0085a1;
	text-decoration: underline;
}
.container .item .content {
	margin: 0px 0 0px 0;
}
.container .item  p,
.container .item  li {
	font-size: 0px;
	line-height: 1.5;
	margin: 0px 0px;
}
.status-avatar {
	float: left;
	border-radius: 50%;
	border: 5px solid #E4E4E4;
	margin-right: 0px;
}
.status-avatar img {
	border-radius: 0%;
}
.container .post-meta span {
	display: block;
}
.container .pager li > a,
.container .pager li > span {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 0px0px;
	background-color: transparent;
	border-radius: 0px;
}
.container .pager li > a,
.container .pager a > li > span {
	color: #404040;
}
.container .pager li > span,
.container .pager li > a:hover,
.container .pager li > span:hover {
	color: #0085A1;
}
.sidebar {
	margin-top: 0px;
	padding-bottom: 0px;
}
article.search-results {
	margin-top: 0px;
}

/*
 * Push Menu
 */
.pmenu {
	background: #222;
	position: fixed;
	overflow-y: auto;
}
.pmenu h3 {
	color: #FFF;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #1A1A1A;
}
.pmenu a {
	display: block;
	color: #FFF;
	font-size: 1.1em;
	font-weight: 300;
}
.pmenu a:hover {
	text-decoration: none;
	background: #1A1A1A;
}
.pmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.pmenu-vertical a {
	border-bottom: 2px solid #1A1A1A;
	padding: 1em;
}
.pmenu-left {
	left: -240px;
}
.pmenu-left.pmenu-open {
	left: 0px;
}
.pmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.pmenu-push-toright {
	left: 240px;
}
.pmenu,
.pmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.pmenu .fa-arrow-right {
	font-size: 20px;
}
#showLeftPush {
	position: fixed;
	background: #FFF;
	color: #000;
	z-index: 100;
	display: block;
	padding: 0px;
	width: 50px;
	top: 20px;
	left: 20px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	border-radius: 30px;
	box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1);
	line-height: 50px;
}
.pmenu-push-toright #showLeftPush {
	left: 260px !important;
}
.latte-push-menu,
.latte-push-menu .sub-menu {
	padding: 0;
	word-wrap: keep-all;
}
.menu-item-has-children > .sub-menu {
	display: none;
}
.menu-item-has-children:hover > .sub-menu {
	display: block;
}
.latte-push-menu a {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
.comments-area {
	margin-top: 40px;
	float: left;
	width: 100%;
}
.comment-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.comment-list ol {
	list-style: none;
	padding-left: 0;
}
.comment-list .comment-body {
	font-weight: 400;
	color: #666666;
}
.comment-list .comment-body ol {
	margin: 0 0 1.5em 0;
	padding-left: 20px;
	list-style: decimal;
	word-wrap: break-word;
}
.comment-list ol.children {
	margin-left: 2%;
}
h2.comments-title {
	font-family: 'Open Sans', Helvetica Neue, Sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 15px;
}
h2.screen-reader-text {
	font-family: 'Open Sans', Helvetica Neue, Sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}
.comment-list .comment > article {
	border: 1px solid #eaeaea;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-left: 80px;
	position: relative;
	margin-bottom: 22px;
	padding: 15px;
	word-wrap: break-word;
}
.comment-list .comment-author img {
	position: absolute;
	top: 0;
	left: -80px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid #e4e4e4;
}
.comment-list  .comment-author .fn {
	font-weight: 700;
	font-size: 14px;
}
.comment-list  .comment-author .fn a {
	font-weight: 700;
	color: #000;
	font-size: 14px;
}
.comment-list .comment-author .says {
	font-weight: 500;
	color: #a7a8b1;
	font-size: 14px;
}
.comment-list .comment-metadata {
	color: #008ed6;
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
}
.comment-list .comment-metadata .edit-link {
	float: right;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.comment-list .comment-content {
	font-size: 14px;
	line-height: 18px;
	margin-top: 10px;
}
.comment-list .reply {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 14px;
	font-weight: 500;
}
.comment-form p {
	position: relative;
}
.comment-form p.comment-notes,
.comment-form p.logged-in-as {
	width: 100%;
	padding-left: 0;
}
.comment-form label {
	position: absolute;
	left: 0;
	line-height: 38px;
	font-weight: 400;
}
.comment-form input.form-control {
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	box-shadow: 0;
	border-radius: 0;
}
.comment-form textarea {
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	box-shadow: 0;
	border-radius: 0;
}
.comment-form .form-allowed-tags,
.comment-form .form-allowed-tags code {
	font-size: 10px;
	line-height: 14px;
}
.comment-form .form-submit input {
	background: #181616;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: none;
	font-weight: 500;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	text-shadow: none;
	text-transform: uppercase;
	padding: 7px 30px;
	border: 1px solid #181616;
	min-width: 10px;
}
.comment-form .form-submit input:hover {
	background: #222;
}
.comment-reply-title {
	font-family: 'Open Sans', Helvetica Neue, Sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-top: 50px;
}
.comment-list li.pingback {
	padding: 0 0 15px;
	border-bottom: 1px solid #ececec;
	margin-bottom: 15px;
}
input.searchform-input {
	height: 40px;
}
input.searchform-button {
	height: 40px;
	background: #181616;
	border: 1px solid #181616;
}
input.searchform-button:hover,
input.searchform-button:focus,
input.searchform-button:active {
	background: #222;
}

.woocommerce span.onsale {
	padding: 0;
}

.woocommerce .comment-form-rating label,
.woocommerce .comment-form-comment label {
	position: relative;
}

@media screen and (max-width: 300px) {
	div.avatar {
		width: 150px;
		height: 150px;
	}
}
@media screen and (max-width: 900px) {
	.pricing .pricing-plans .pricing-plan {
		float: left;
	}
}

@media screen and (min-width: 768px) {
	.intro {
		vertical-align: middle;
	}
	.archive-header {
		vertical-align: middle;
	}
	.cover-container {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.about .row {
		padding: 50px 20px;
	}
	.services .row {
		padding: 50px 20px;
	}
	.services .service-box {
		padding: 25px 0;
	}
	.skills .row {
		padding: 50px 20px;
	}
	.skills .skill-box {
		padding: 0;
	}
	.subscribe .row {
		padding: 50px 40px;
		text-align: center;
	}
	.blogposts .row {
		padding: 50px 0;
	}
	.blogposts .blog-item {
		padding: 20px;
	}
}

@media screen and (min-width: 992px) {
	.cover-container {
		width: 700px;
	}

}

@media screen and (max-height: 422px) {
	.pmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
	.pmenu-push-toright {
		left: 190px;
	}
}

@media screen and (max-width: 422px) {
	.blog .pager li  > a,
	.blog .pager li > span {
		width: 100%;
	}
}
