/*
Theme Name: Electron
Theme URI: http://event-theme.com/themes/electron/
Author: Jthemes 
Author URI: http://themeforest.net/user/jthemes
Description: Electron is the HTML5 based landing page designed for live concerts, music shows, events or may be used for any type of entertainment shows. This landing page includes all types of necessary information regarding an event. Google Directions script is also included to get the directions to the venue from your city or area.
Version: 1.4.9
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, threaded-comments, translation-ready
Text Domain: electron
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
.container{
	width: 100%;
}
body.admin-bar #top{
	margin-top: 30px;
    max-height: 96px;
}
body.admin-bar .off-canvas-menu a.nav-expander{
	top: 30px;
}
body.admin-bar .off-canvas-menu nav.nav{
	top: 30px;
	height: calc(100%-30px);
}
article h1,
article h2,
article h3,
article h4{
	text-align: inherit;
}

.widget-wrap ul li a {
    padding: 6px 0;
}
.widget-wrap .electron-recent-posts li a{
	padding: 0;
}
.electron-recent-posts li{
	display: block;
	overflow: hidden;
	padding: 6px 0;
}
.electron-recent-posts img{
	max-width: 70px;
	margin-right: 15px;
	height: auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.electron-recent-posts .electron-post-info span{
	font-style: italic;
	font-size: 14px;
}
.widget_archive li,
.widget_categories li{
	text-align: right;
	display: block;
	overflow: hidden;
}
.widget_archive li > a,
.widget_categories li > a{
	display: inline-block;
	float: left;
}
.screen-reader-text{
	display: none;
}
.zframe-flickr-wrap-ltr img{
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.archive-header{
	border-bottom: 1px solid #d2dce6;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
}
section{
	padding: 4.85em 0;
	position: relative;
}
.section-top-padding-only{
	padding-bottom: 0 !important;
}
.section-bottom-padding-only{
	padding-top: 0 !important;
}
.section-no-padding{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
div.wpcf7-validation-errors{
	background-color: #fff;
	text-align: center;
}
span.wpcf7-not-valid-tip{
	background-color: #fff;
	padding: .5em;
	margin-bottom: 2em;
}
section > .sqaureIconSec.absolute{
	top: auto;
	bottom: -0.84em;
}
.section-connector-on{
	padding-bottom: 3em !important;
}
.post-password-input{
	height: 3.65em;
}
/*tickera*/
.coupon-code{
	display: inline-block;
}
.coupon-code input{
	line-height: 22px;
	height: auto;
}
.tickera input{
	display: inline-block;
	vertical-align: top;
}
.tickera input[type="checkbox"], 
.tickera input[type="radio"]{
	margin: 9px 10px 0 0;
}
.tickera_additional_info label input{
	width: 100%;
	margin-left: 0;
	line-height: 22px;
	height: auto;
	margin-bottom: 1em;
}
.tickera-payment-gateways{
	padding: 1.5em;
}
.tickera-payment-gateways p,
.tickera_additional_info p{
	margin-bottom: 0;
}
p.entry-footer{
	text-align: right;
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}

p.entry-footer a{
	margin-left: 5px;
	border-bottom: 1px solid #000;
}
.sticky{}
.bypostauthor{}
/**
 * 14.2 Galleries
 */

.gallery {
    margin-bottom: 30px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.gallery-item {
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 0;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
    width: 100%;
    border: none !important;
}
.gallery-caption {
    display: block;
    padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}
/**
 * 8.0 Alignments
 */

.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}
blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}
blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}
/**
 * 14.1 Captions
 */

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}
.wp-caption-text {
    padding: 0.5em 0;
}

.widget-wrap select{
	width: 100%;
	max-width: 100%;
	padding: 6px 3px;
	line-height: 26px;
}

.widget-wrap .recentcomments a{
	display: inline-block;
}
.widget-wrap .recentcomments .comment-author-link{
	text-transform: capitalize;
	font-weight: 400;
}
.widget-wrap cite{
	margin-bottom: 15px;
	font-weight: 400;
	display: block;
}

/* Calendar widget */
.widget_calendar table {
	margin: 0;
	width: 100%;
}

.widget_calendar th{
	font-weight: 600;
}

.widget_calendar td,
.widget_calendar th {
	line-height: 2.5625;
	padding: 0;
	text-align: center;
}

.widget_calendar caption {
	margin-bottom: 1.75em;
}

.widget_calendar tbody a {
	background-color: #007acc;
	color: #fff;
	display: block;
	font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	background-color: #686868;
	color: #fff;
}
.modal-dialog{
	z-index: 9999;
}
.modal-dialog .close.close-btn{
	opacity: 1;
}
.modal-dialog .close.close-btn > span{
	line-height: 25px;
	font-size: 22px;
}

.logo.text-center {    width: 100%;    background: none;    display: inline-block;    position: relative;}.standard-menu .navbar-nav {    width: 100%;    text-align: center;    font-size: 0;}
.col-md-6.logo.text-center {
    min-width: 500px;
    background: none;
    display: inline-block;
    position: relative;
    width: 50%;
}

.col-md-3.right_logo.text-center img {
    width: 65px;
    padding: 10px; 
    margin-right: 100px;
    margin-top: 28px;
}

.col-md-3.left_logo.text-center img {
    width: 70px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 35px;
}
.col-md-6.logo.text-center img {
    width: 132px;
    max-height: 120px;
    margin-top: -15px !important;
    margin: 0px;
    position: relative;
    top: 8px;
}

.standard-menu.BGlight img.black_logo {
    display: none;
}
.standard-menu.BGlight.visible img.black_logo {
    display: block;
}
.standard-menu.BGlight.visible img.white_logo {
    /* display: none; */
}
.col-md-3.left_logo.text-center img.white_logo {
    text-align: left;
}
.col-md-3.right_logo.text-center img.white_logo {
    text-align: right;
}
.col-md-3.left_logo.text-center {
    text-align: left;
}
.col-md-3.right_logo.text-center {
    text-align: right;
}
.standard-menu.BGlight.visible .col-md-3.right_logo.text-center img.black_logo {
    text-align: right;
    display: inline-block;
}
.standard-menu.BGlight.visible .col-md-3.left_logo.text-center img.black_logo {
    text-align: left;
    display: inline-block;
}
.standard-menu.BGlight.visible .col-md-6.logo.text-center img.img-responsive.black_logo {
    text-align: center;
    display: inline-block;
}
.standard-menu .navbar-nav li i.fa {
    display: none !important;
}
.wpb_video_widget {
    margin-bottom: 0px !important;
}

.tabs-left > li span {
    float: left;
}
#celebs .item i.fa.fa-music {
    display: none;
}
.dont_dont span {
    font-weight: 600;
    font-size: 20px;
}
.dont_dont p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
}
.dont_dont {
    font-weight: 600;
}
.dont_dont img {
    margin-bottom: 0px;
}
.vc_tta-panel p {
    margin-bottom: 0px;
}
div#hojx .wpb_text_column.wpb_content_element {
    margin-bottom: 0px;
}
div#hojx p {
    margin: 0px;
}
.col-sm-12.col-xs-12.centernav {
    display: none;
}
.ufaq-faq-categories {
    display: none;
}

.faq_div span, .faq_div p {
    font-weight: 800 !important;
}
section#sample-page-2 p {
    color: #fff !important;
}

section#sample-page-2 {
    background: #0c0c0c;
    color: #fff;
}
section#events {
    background: #0c0c0c;
}
.dblBorderChild.BGdark {
    background: #0c0c0c !important;
    padding: 1.65em 0.5em 1.85em !important; 
}
div#venue .column-content h4 {
    color: #fff;
}
.dont_dont {
    color: #fff;    
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.dont_dont ul.list-default li {
    color: #fff;
}
.dont_dont ul.list-default li:hover {
    color: #273034;
}
section#event-facilities {
    background: #0c0c0c;
}
section#event-facilities h3 {
    color: #0c0c0c;
}
.dont_dont strong {
    color: #fff !important;
    font-weight: 100 !important; 
}
section#contact-us {
    background: #0C0C0C;
}
div#venue {
    background: #0C0C0C !important;
}
#venue .directions-input {
    background-color: #0C0C0C !important;
    padding: 1.5em;
    display: table;
}
.sqaureIconPrime.absolute, .sqaureIconSec.absolute {
    display: none;
}
section#events .eventData.text-center a.btn.smooth.btn-lg {
    display: none;
}
.faq_div.wpb_column table tr td {
    border: 1px solid #7d7d7d;
    padding: 5px;
}
.faq_div.wpb_column .vc_tta-container .vc_general.vc_tta.vc_tta-accordion .vc_tta-panel-heading {
    background: #0c0c0c;
    color: #fff !important;
}
.faq_div.wpb_column .vc_tta-container .vc_general.vc_tta.vc_tta-accordion .vc_tta-panel-heading h4.vc_tta-panel-title span.vc_tta-title-text {
    color: #fff;
}
.owl-item.active .item {
    font-weight: 900 !important;
}
section#performers h2 {
    font-size: 4em;
}
.dont_dont h2 {
    color: #a50021;
    font-size: 36px;
}
.standard-menu.BGlight.visible {
    background-color: #000 !important;
}
.standard-menu {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
}

section#events {
    margin-top: -6px;
    padding-top: 0px;
}
section#league-officials {
    background: #0C0C0C !important;
} 
section#league-officials h3 span {
    font-size: 32px !important;
    background: none;
}
.omi_class figure.wpb_wrapper.vc_figure {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
div#bpdy_fgri .vc_single_image-wrapper img {
    width: 300px;
    height: 250px;
}
div#bpdy_fgri img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid #fff;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element h3 {
    color: #fff;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element {
    display: inline-block;
    margin: 0px;
    width: 100%;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element p {
    width: 50%;
    float: left;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element h3 {
    width: 50%;
    float: left;
    padding-top: 50px;
}
.faq_div span, .faq_div p {
    font-weight: 800 !important;
    color: #a50021;
}
div#fogt p, div#fogt h3 {
    margin-bottom: 0px;
    margin-top: 0px;
} 
.super_global {
    display: none;
}
@media only screen and (max-width: 768px){
	div#home {
    margin-top: 108px;
}
	.col-md-6.logo.text-center {
		float: left;
		width: 40% !important;
		min-width: 100px;
	}
	.col-md-3.left_logo.text-center {
		text-align: left;
		width: 30%;
		float: left;
	}
	.col-md-3.right_logo.text-center {
		width: 30%;
		float: left;
	}
	div#hojx iframe {
		height: 400px;
	}
	  div#bpdy_fgri img {
    width: 200px !important;
    height: 190px !important;
    border-radius: 50%;
    border: 4px solid #fff;
}

.asasas {
    display: none;
}
.super_global {
    display: block;
}
}


/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 740px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	div#home {
    margin-top: 130px;
}

.asasas {
    display: none;
}
.super_global {
    display: block;
}
	.col-md-6.logo.text-center img {
    width: 135px;
    max-height: 116px;
    margin-top: -15px !important;
    margin: 0px;
    position: relative;
    top: 8px;
}
	.standard-menu.BGlight {
		background: #000;
	}
	.col-md-6.logo.text-center {
		background: #000 !important;
		float: left;
		width: 40% !important;
		min-width: 100px;
	}
	.col-md-3.left_logo.text-center {
		text-align: left;
		width: 30%;
		float: left;
	}
	.col-md-3.right_logo.text-center {
		width: 30%;
		float: left;
	}
	.col-md-3.right_logo.text-center img {
		width: 70px;
		padding: 10px;
		margin-top: 35px;
	}
	.col-md-3.left_logo.text-center img {
		width: 70px;
		padding: 10px;
		margin-top: 40px;
	}
	div#hojx iframe {
    height: 400px;
}

div#bpdy_fgri .wpb_text_column.wpb_content_element {
    display: inline-block;
    margin: 0px;
    width: 25%;
    float: left;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element p {
    width: 50%;
    float: left;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element h3 {
    width: 50%;
    float: left;
    padding-top: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
div#bpdy_fgri img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 4px solid #fff;
}
div#fogt h3 span {
    font-size: 16px !important;
}
div#fogt .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 33%;
    float: left;
}

div#fogt1 .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 33%;
    float: left;
}

div#fogt2 .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 33%;
    float: left;
}


}


@media only screen and (max-width: 480px){
	div#home {
    margin-top: 110px;
}
div#omi_pic {
    width: 100% !important;
    height: 100% !important;
}
section#social-media-2 .sfsi_widget .norm_row.sfsi_wDiv {
    width: 100%;
    margin-left: 0px;
}

.social_media_item.instagram_item img {
    width: 46px !important;
    text-align: center !important;
}
.social_media_item.instagram_item {
    margin-top: 14px !important;
	width: 24% !important;
}
.social_media_item.apple_item {
    margin-bottom: 18px;
    margin-left: 24px !important;
}
.asasas {
    display: none;
}
.super_global {
    display: block;
}
.standard-menu.BGlight {
    background: #000;    
	max-height: 120px !important;
}
div#home {
    margin-top: 102px;
}
section#events {
    padding: 0px !important;
    margin-top: -6px;
}
section#events .container.page-block {
    margin-top: 0px !important;
    padding: 40px 0px;
}
div#fogt p span {
    font-size: 11px !important;
}
div#fogt p {
    margin-bottom: 0px !important;
}
.col-md-6.logo.text-center {
    background: #000 !important;
    float: left;
    width: 44% !important;
    min-width: 100px;
	padding: 0px;
}
section#performers .container.page-block {
    padding: 0px;
}
.eventData .row > .prime, .eventData .row > .secondary {
    margin-bottom: 0em;
}
.col-md-3.left_logo.text-center {
    text-align: left;
    width: 28%;
    float: left;
}
.col-md-3.right_logo.text-center {
    width: 28%;
    float: left;
}
.col-md-3.right_logo.text-center img {
    width: 70px;
    padding: 10px;
}
.col-md-3.left_logo.text-center img {
    width: 70px;
    padding: 10px;
}

.col-md-3.right_logo.text-center img {
    width: 60px;
    padding: 10px;
    margin-right: 0px;
    margin-top: 28px;
}
div#hojx iframe {
    height: 250px;
}
.col-md-3.left_logo.text-center img {
    width: 64px !important;
    padding: 10px;
    margin-left: 0px;
    margin-top: 32px;
}
.dont_dont h2 {
    color: #a50021;
    font-size: 30px;
}
div#bwg_standart_thumbnails_0 a {
    width: 45%;
    float: left;
    margin-right: 10px;
}
section#performers h2 {
    font-size: 2.2em;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element {
    display: inline-block;
    margin: 0px;
    width: 50%;
    float: left;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element p {
    width: 50%;
    float: left;
}
div#bpdy_fgri .wpb_text_column.wpb_content_element h3 {
    width: 50%;
    float: left;
    padding-top: 40px;
    font-size: 16px;
}
div#bpdy_fgri img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    border: 4px solid #fff;
}
div#fogt .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 33%;
    float: left;
}
div#fogt1 .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 33%;
    float: left;
}
div#fogt2 .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 33%;
    float: left;
}
div#fogt h3 span {
    font-size: 15px !important;
}
.col-md-6.logo.text-center img {
    width: 130px;
    max-height: 128px;
    margin-top: -15px !important;
    margin: 0px;
    top: 7px;
    position: relative;
}
}



section#performers {
    background: #0C0C0C;
}
.container.page-block {
    padding: 10px;
}
.dont_dont {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px;
}
.omi_class figure.wpb_wrapper.vc_figure {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px !important;
}
section#league-officials {
    background: #0C0C0C !important;
    margin-top: -7px;
}
.faq_div.wpb_column .vc_tta-container .vc_general.vc_tta.vc_tta-accordion .vc_tta-panel-heading {
    background: #0c0c0c;
    color: #fff !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 0px !important;
}
.wpb_single_image.wpb_content_element.vc_align_center.img_pic {
    margin-bottom: 0px;
}
.standard-menu.BGlight {
    background-color: #000 !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
div#home {
    margin-top: 94px;
}
section.highlightBox input[type="text"], section.BGdark input[type="text"], section.BGsecondary input[type="text"], section.highlightBox input[type="email"], section.BGdark input[type="email"], section.BGsecondary input[type="email"], section.highlightBox input[type="tel"], section.BGdark input[type="tel"], section.BGsecondary input[type="tel"], section.highlightBox input[type="number"], section.BGdark input[type="number"], section.BGsecondary input[type="number"], section.highlightBox input[type="datetime"], section.BGdark input[type="datetime"], section.BGsecondary input[type="datetime"], section.highlightBox .form-control, section.BGdark .form-control, section.BGsecondary .form-control, section.highlightBox textarea, section.BGdark textarea, section.BGsecondary textarea {
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1.50em;
    box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    background-color: transparent;
    width: 100%;
    padding: 1em;
    color: #FFF;
    opacity: 1;
}
.container {
    max-width: 100% !important;
    margin: 0px;
    padding: 0px !important;
}
div#fogt h3 {
    margin-bottom: -14px;
    margin-top: 0px;
    line-height: 18px !important;
}
section#performers .container.page-block {
    max-width: 1170px !important;
    margin: 0px auto;
}
.address {
    text-align: center;
    color: #fff;
}
.norm_row.sfsi_wDiv {
    float: none !important;
    margin: 0px auto;
    text-align: center !important;
    width: 100% !important;
    margin-top: 10px;
    margin-left: -18px;
}
.sfsi_wicons {
    margin-bottom: 30px;
    position: relative;
    padding-top: 5px;
    margin-right: 5px !important;
}
.sfsi_footerLnk {
    display: none !important;
}
section#athletes {
    display: none;
}
.nf-form-fields-required {
    display: none;
}
a.sbi_load_btn span {
    font-size: 14px !important;
    color: #fff;
}

a.sbi_load_btn {
    padding: 4px 12px !important;
    background: #1b1b1b !important;
}
.social_media_item.omi_media.apple_item img {
    margin-top: 5px;
    width: 32%;
    text-align: right;
    float: right;
}
.social_media_item.omi_media.google_item img {
    margin-top: 5px;
    width: 32%;
    text-align: left;
    float: left;
}
section#social-media-2 {
    background: #0c0c0c;
}
section#testing {
    background: #0c0c0c;
}
.sbi_header_text h3, .sbi_header_text p {
    color: #fff;
}
section#league-officials {
    display: none;
}
div#omi_pic {
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 0px auto;
}
section#sample-page-2 {
    display: none;
}