/*
Theme Name: Hestia Child
Theme URI: https://www.themeisle.com/
Description: This is a custom child theme I have created.
Author: ThemeIsle
URI: https://www.themeisle.com/
Template: hestia    
Version: 0.1
*/

.navbar-toggle {
    display: block !important;
}
div#main-navigation {
    display: none !important;
}
.navbar-header {
    width: 100%;
}
.navbar-toggle-wrapper {
    float: right;
     margin-top: 10px;
}
button.navbar-toggle.wpmm-button {
    color: #fff;
    float: right;
}
nav.navbar {
    background: #000;
}
.navbar.hestia_left .title-logo-wrapper {
    min-width: 250px;
    float: left;
}
.title-logo-wrapper img {
    width: 90px !important;
    max-height: 88px !important;
}
.navbar.navbar-transparent {
    background: #000;
    color: #555;
}
.page-header.header-small .container {
    padding-top: 120px !important;
    padding-bottom: 100px;
}
.big-title-slider-content.text-center.col-sm-8.col-sm-offset-2 {
    margin-top: 140px;
    margin-bottom: 40px;
}
.cd-accordion-menu label, .cd-accordion-menu a {
    padding: 10px 10px 10px 82px;
    font-size: 1.9rem;
}

.pricingTable{
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
}

.pricingTable-header{
    padding: 25px 10px;
}

.pricingTable .pricingTable-header h3{
    font-size:21px;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
}

.pricingTable-header span{
    display: block;
    font-size:12px;
}

.pricing-plans{
    padding: 25px 0;
}

.price-value{
    font-size: 25px;
    line-height: 35px;
    color: #000;
    display: inline-block;
    position: relative;
}

.price-value i{
    position: absolute;
    top: 3px;
    font-size: 22px;
}

.price-value span{
    font-size: 40px;
    color: #000;
    margin-left: 17px;
}

.pricing-plans .month{
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 100;
}

.pricingContent ul{
    padding: 0px;
    margin-bottom: 0;
    list-style: none;
}

.pricingContent ul li{
    padding: 15px 0;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.pricingContent ul li:nth-child(even){
}

.pricingTable .pricingTable-sign-up{
    padding: 25px 0;
    border-top: 1px solid #dbdbdb;
}
/*
.btn-block{
    width: 50%;
    margin: 0 auto;
    background: #6c6c6c;
    border: 1px solid #6c6c6c;
    padding: 10px 0;
    color:#fff;
    text-transform: uppercase;
    border-radius: 50px;
    transition:0.3s ease;
}*/

/*.pricingTable .btn-block:hover{
    background: #fff;
    color: #008b8b;
    border: 1px solid #008b8b;
}
*/
.pricingTable.purple .pricing-plans{
    background-color: #b696e9;
}

.pricingTable.yellow .pricing-plans{
    background-color: #e8ae42;
}

.pricingTable.green .pricing-plans{
    background-color: #008b8b;
}

@media screen and (max-width:990px){
    .pricingTable{
        margin-bottom: 30px;
    }
	.real_table {
		display: none;
	}
	.level_one_mobile{
		display: block !important;
	}
	.level_two_mobile{
		display: block !important;
	}
	.level_three_mobile{
		display: block !important;
	}
	table.table_price.table-responsive tr td:nth-child(1) {
    font-size: 12px;
}
	table.table_price td {
    text-align: center;
    text-transform: uppercase;
    padding: 0px;
}
	table.table_price.table-responsive th, table.table_price.table-responsive td {
    font-size: 12px;
    padding: 0px;
}
	.table_price .pricingTable-sign-up a.btn.btn-block {
    background: #fff;
    color: #000;
    font-size: 12px !important;
    width: 80px !important;
    padding: 3px !important;
}
}
.level_one_mobile{
	display: none;
}
.level_two_mobile{
	display: none;
}
.level_three_mobile{
	display: none;
}
textarea.wpcf7-form-control.wpcf7-textarea {
    height: 100px;
}
h2.page_dec {
    position: absolute;
    top: 30%;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    color: #fff;
}
/* Accordion Styles */
.accordion {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
.accordion-title {
    border-top: 1px solid #dbdbdb;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
}
.accordion-title:hover {}
.accordion-title:first-child {border: none;}
.accordion-title.open {cursor: default;}
.accordion-content {padding-bottom: 20px;}
.cham_css img {
    border-radius: 50%;
}
.cham_css {
    text-align: center;
    padding-bottom: 15px;
}
.cham_css a {
    color: #fff !important;
}
.cham_content p {
    text-transform: capitalize !important;
    margin: 0px;
    font-size: 14px;
}
.pricing-plans {
    border-bottom: 1px solid;
}
a.btn.btn-block {
    width: 140px;
    margin: 0px auto;
    background: #000;
    border: 1px solid #737373;
    box-shadow: 0px 0px 0px;
}
.pricingTable {
    background: #fff;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-color-on-scroll.navbar-transparent.hestia_left {
    position: relative;
    margin: 0px;
}
.main.main-raised {
    margin: 0px;
    border-radius: 0px !important;
    padding: 0px;
    margin-top: -10px;
}
footer.footer.footer-black.footer-big .content .col-md-4 {
    width: 100%;
}
footer.footer.footer-black.footer-big .container {
    padding: 0px;
    margin: 0px;
}
footer.footer.footer-black.footer-big .content .col-md-4 h5 {
    text-align: center;
    font-size: 28px;
}
footer.footer.footer-black.footer-big .container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required, input.wpcf7-form-control.wpcf7-text, textarea.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    background: #000;
    border: 1px solid #3a3a3a;
    color: #fff;
    padding: 15px 10px;
}
.conte_info {
    text-align: center;
    color: #fff;
}
.conte_info p {
    color: #fff;
}
div.wpcf7 label {
    display: block !important;
}
section#contact {
    display: none;
}
.navbar.navbar-transparent > .container {
    padding-top: 15px;
}
section#about {
    background: #000 !important;
}
footer.footer.footer-black {
    background: #000;
}
input.wpcf7-form-control.wpcf7-submit {
    border: 1px solid #3a3a3a;
}
.copyright.pull-right {
    display: none;
}
table.table_price th {
    text-align: center;
    text-transform: uppercase;
}

table.table_price td {
    text-align: center;
    text-transform: uppercase;
}
table.table_price {
    background: #000;
    color: #fff;
    text-align: center;
}
table.table_price {
    padding-bottom: 10px;
}
.table_price .pricingTable-sign-up a.btn.btn-block {
    background: #fff;
    color: #000;
    font-size: 14px;
}
.header-filter::before{
	display: none;
}
.pmpro_actionlinks {
    display: none;
}
.mobile_plans .membership_plans {
    display: inline-block;
    width: 33%;
    float: left;
}
.mobile_plans {
    text-align: center;
}
.membership_plans.pricingTable-sign-up {
    text-align: center;
} 
.pricingTable-sign-up a.btn.btn-block {
    background-color: #a2a2a2 !important;
    color: #ea0000 !important;
}
.mobile_plans .membership_plans.pricingTable-sign-up h4 {
    font-size: 14px;
}
.mobile_plans .membership_plans.pricingTable-sign-up h4 a.btn.btn-block {
    padding: 10px 4px !important;
    width: 100%;
}